* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenedor {
    width: 100%;
    height: 100vh;
    background: rgb(233, 110, 53);
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:'header header header'
                        'aside01 main aside02'
                        'footer footer footer'; */
}
header {
    padding: 10px;
    text-align: center;
    grid-area: header;
    background: rgb(172, 94, 94);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul {
    list-style: none;
    display: flex;
}
header nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
}
header nav ul li:hover {
    color: white;
    text-decoration: none;
}
article ul .titulaHambrguesa h2 {
    display: inline;
    border-bottom: 1px solid white ;
}

.aside01 {
    padding-top: 10px;
    text-align: center;
    font-size: 2em;
    grid-area: aside01;
}
main {
     color: blue;
    grid-area: main;
}
.aside02 {
    padding-top: 10px;
    text-align: center;
    font-size: 2em;
    grid-area: aside02;
}
footer {
    background: rgb(172, 94, 94);;
    text-align: center;
    font-size: 2em;
    grid-area: footer;
}
.iconAltokee15 {
    width: 1em;
    height: 1em;
    border-radius: 50%;
}